.preview {
  background-color: var(--c-bg);

  @apply relative p-5 pb-10 flex justify-center items-center mb-5;
  @apply rounded-md overflow-hidden;

  &:last-of-type {
    @apply mb-0;
  }
}

.widget-label {
  @apply absolute bottom-0 right-0 px-2 flex items-center justify-center;
  @apply text-center bg-blue-500 text-white text-sm;
  @apply rounded-tl-md;

  span {
    @apply mr-2;
  }
}

.widget-preview {
  @apply relative max-w-full;

  &::after {
    @apply absolute top-0 right-0 bottom-0 left-0 cursor-move shadow-md;

    z-index: 2;
    content: '';
  }
}
