.form-wrapper {
  & > :last-child {
    @apply border-b-0 mb-0;
  }
}

.group-wrapper {
  @apply relative border-t border-b mt-5 py-5;

  .group-label {
    @apply absolute top-0 left-5 px-2 text-sm font-bold flex items-center cursor-pointer;

    background-color: var(--c-bg-container);
    transform: translateY(-50%);

    span:first-of-type {
      @apply mr-2;
    }
  }

  .group-icon {
    transform: rotate(0deg);
    @apply transition transition-transform;

    &.open {
      transform: rotate(90deg);
    }
  }

  & + & {
    @apply mt-0 border-t-0;
  }
}

.object-wrapper,
.array-wrapper {
  @apply relative flex justify-start items-center bg-light-400 pt-4 pl-4 pr-2 mb-4 border-b;

  .object-title,
  .array-title {
    @apply flex justify-start items-center mb-2 text-sm font-bold;
  }

  & .object-wrapper,
  & .array-wrapper {
    @apply pt-2 pr-1;
  }
}
