.blocks-tree-wrapper {
  @apply relative w-full border-t-3 border-double pb-1 z-10;
  @apply flex flex-col;
  @apply text-sm;

  height: 240px;
  color: var(--c-text-light);

  h3 {
    @apply px-5 py-1 text-sm font-bold bg-light-300 border-b;

    color: var(--c-text-lighter);
  }
}

.blocks-tree {
  @apply list-none;

  & & {
    @apply ml-2;
  }
}

.tree-block-item {
  @apply my-0;
}

.tree-title {
  @apply pl-1 py-0.5 my-0 bg-white rounded;
  @apply hover:bg-light-500 transition;
  @apply flex justify-between items-center pr-2;

  .title-item {
    @apply flex items-center;

    :global {
      .el-icon {
        @apply opacity-0 transition-opacity cursor-pointer;
      }
    }

    .icon-show {
      @apply opacity-100;
    }

    .block-ipt {
      width: 120px;
      height: 20px;
      @apply bg-white text-black px-2 ml-2;
    }
  }

  &:hover .title-item :global {
    .el-icon {
      @apply opacity-100;
    }
  }

  &.focus {
    @apply bg-blue-500 text-white;
  }
}

.tree-block-slot {
  @apply ml-3 border-l;
}

.tree-slot-title {
  @apply text-xs pl-1;
}
