.left-sidebar-wrapper {
  @apply fixed left-0 top-14 bottom-5 z-50 shadow-md;
  @apply rounded-tr-md rounded-br-md;

  background-color: var(--c-bg-container);
  transition: transform 0.5s ease-in-out;
  transform: translate3d(-100%, 0, 0);

  &.open {
    transform: translate3d(0, 0, 0);
  }

  .btn-arrow {
    @apply absolute top-1/2 right-0 cursor-pointer;
    @apply flex justify-center items-center;
    @apply rounded-tr-md rounded-br-md shadow-md;

    width: 20px;
    height: 80px;
    color: var(--c-text-lightest);
    background-color: var(--c-bg-container);
    transform: translate(100%, -50%);

    &::after {
      position: absolute;
      top: 0;
      left: -4px;
      display: block;
      width: 4px;
      height: 80px;
      content: '';
      background-color: var(--c-bg-container);
    }
  }

  .left-sidebar-tabs {
    min-height: 100%;
    contain: layout;

    :global {
      .el-tabs__header {
        margin-top: 1rem;
        margin-right: 0;

        .el-tabs__item {
          height: 85px;
          padding: 1rem;

          .sidebar-tab {
            @apply flex flex-col items-center justify-center;

            p {
              @apply leading-8;
            }
          }
        }
        /* stylelint-disable-next-line selector-id-pattern */
        #tab-pageTree {
          @apply relative mt-10;

          &::before {
            @apply inline-block absolute border-t-2 -top-5 left-1/2;

            width: 60px;
            height: 0;
            content: '';
            transform: translateX(-50%);
          }
        }
      }

      .el-tabs__content {
        padding: 1.25rem 1rem;
      }
    }
  }
}
