.stage-wrapper {
  background-color: var(--app-c-bg);
  @apply shadow-md transition-colors;
}

.stage-container {
  height: inherit;
  min-height: inherit;
  line-height: 0;
}

.widget-component {
  @apply relative cursor-move;

  contain: layout;
  outline: solid 2px transparent;
  outline-offset: 0;
  transition: outline 0.2s ease-in-out, margin 0.2s ease-in-out;

  &::before {
    @apply inline-block absolute top-0 right-0 bottom-0 -left-2 z-10 cursor-move;

    content: '';
  }

  &:hover,
  &.focus {
    &::after {
      @apply inline-block absolute top-0 -left-2 cursor-move;
      @apply bg-blue-500 text-white -translate-x-full transform;
      @apply px-2 py-1.5 text-sm leading-3 rounded-sm font-bold;

      content: attr(data-label);
    }
  }

  &:hover {
    @apply outline-solid-blue-400;
  }

  &.focus {
    @apply outline-solid-blue-500;
  }

  &.has-slot::before {
    display: none;
  }
}

.widget-component-group {
  contain: layout;
  outline: dashed 1px;
  outline-offset: 0;
  transition: outline 0.2s ease-in-out, margin 0.2s ease-in-out;
  @apply relative cursor-move outline-gray-300;

  &:hover,
  &.focus {
    outline: solid 2px;

    &::after {
      @apply inline-block absolute top-0 right-0 cursor-move;
      @apply bg-blue-500 text-white translate-x-full transform;
      @apply px-2 py-1.5 text-sm leading-3 rounded-sm font-bold;

      content: attr(data-label);
    }
  }

  &:hover {
    @apply outline-solid-blue-400;
  }

  &.focus {
    @apply outline-solid-blue-500;
  }
}

.group-placeholder {
  @apply min-h-10 text-center text-xs py-1;
}

.drag-layer {
  @apply fixed top-0 left-0 z-50 pointer-events-none;

  width: inherit;
}

.context-menu-wrapper {
  @apply absolute z-99;

  .menu-item {
    @apply truncate cursor-pointer text-sm py-1 px-2 bg-white;
    @apply transition-colors select-none;

    &:hover {
      @apply bg-light-500;
    }
  }
}

.stage-placeholder {
  outline: solid 2px;
  outline-offset: 0;
  @apply absolute transition-all z-199 outline-green-500 bg-green-400 bg-opacity-30;
}
