.stage-wrapper {
  // position: absolute;
  background-color: var(--c-bg-container);
  @apply shadow-md;
}

.stage-container {
  height: inherit;
  min-height: inherit;
}

.widget-component {
  @apply relative cursor-move;

  outline: solid 2px transparent;
  outline-offset: -2px;
  transition: outline 0.2s ease-in-out;

  &::before {
    @apply inline-block absolute top-0 right-0 bottom-0 left-0 z-10 cursor-move;

    content: '';
  }

  &.focus {
    @apply outline-solid-blue-500;

    &::after {
      @apply inline-block absolute top-0 -left-2 cursor-move;
      @apply bg-blue-500 text-white -translate-x-full transform;
      @apply px-2 py-1.5 text-sm leading-3 rounded-sm font-bold;

      content: attr(data-label);
    }
  }

  &.dragging {
    background: transparent;
    opacity: 0.5;
  }
}

.widget-component-group {
  position: relative;
}

:global {
  .flip-list-move {
    transition: transform 0.3s;
  }
}
