.block-slot {
  contain: layout;
  outline: dashed 1px;
  outline-offset: 0;

  @apply block outline-gray-300;
}

.slot-placeholder {
  @apply min-h-10 text-center text-xs py-1 border border-dashed border-gray-300;
}
